<html lang="sk">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href={{url_for('static',filename='w3-css.css')}}>
<title>Nejaky blby chat</title>
<style>

.enterbar{
  position:fixed;
  bottom:0;
  color:grey;
  padding:10px;
  min-width:100%;
  border-top:1px solid grey;
  background:lightgrey;
}
.enterbar input{
  border-radius:20px;
  border:1px solid grey;
  zoom:150%;
  color:grey;
  margin-left:10%;
  padding-left:10px;
  padding-right:10px;
  }
#send-button{
  border-radius:50%;
  padding:10px;
  zoom:150%;
  }
header{
  position:fixed;
  top:0;
  background:white;
  width:100%;
  }
  </style>
</head>

<body>
<div class="w3-container">
<header><p class="w3-text-red">Prihlasil si sa ako {{usrname}}&nbsp;&nbsp;&nbsp;<a href="/logout/" class="w3-button w3-green w3-hover-blue">Odhlásiť sa</a>&nbsp;&nbsp;<button onclick="window.scrollTo(0,document.body.scrollHeight);" class="w3-teal ">preskroluj dolu 🢃 </header>
<hr>
<br>
<br>
<h1>Nejaky blby chat</h1>
<br>
<br>
<hr>
<div id="forum">
</div>
<div id="medzera-nevid">
<br>
<br>
<br>
<br>
</div>
<footer class="enterbar">
<form action="/forum/add/" id="form" method="POST" enctype="multipart/form-data">

<input  name="prispevok" placeholder=" Tvoj prispevok... " id="sv-83"></input>
<span  id="send-button" class="w3-teal">
<img src="{{url_for('static',filename='send.svg')}}" width="20" height="20" style="filter:invert(1);transform:scale(1.5);"></img>
</span>
</form></footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
var reload=true
function refresh(){
  if(reload){
    $("#forum").load("/forum/table/")  
    }
   }
setTimeout(refresh,10);

setInterval(refresh,5000);


$("#send-button").click(function(){
  var form = $("#form");
    var url = form.attr('action');
    
    $.ajax({
           type: "POST",
           url: url,
           data: form.serialize(), 
           success: function(data){}
         });
                $("#sv-83").val("")
        setTimeout(refresh,100);
        function ea(){
    window.scrollTo(0,document.body.scrollHeight);
    }
    setTimeout(ea,200)


}
)
$("#form").submit(function(e) {

    e.preventDefault(); 

    var form = $(this);
    var url = form.attr('action');
    $.ajax({
           type: "POST",
           url: url,
           data: form.serialize(), 
           success: function(data){}
         });
    $("#sv-83").val("")
    setTimeout(refresh,100);

    function ea(){
    window.scrollTo(0,document.body.scrollHeight);
    }
    setTimeout(ea,200)


    
});
</script>

</body>
</html>

