<div id="forum-prisp">
{%for prispevok in prispevky%}
<div>
{%if prispevok.uname==curuser%}
<div class="prisp" ></div>
<div>
<div  class="prisp mine" >
<p class="w3-text-blue"><b>Vy</b></p>
<div>
{{prispevok.text}}
</div>
<p class="w3-text-grey">{{prispevok.time}}</p>

</div></div>

{%else%}
<div>
<div class="prisp other"  class="prisp">
<p class="w3-text-red"><b>{{prispevok.uname}}</b></p>
<div>
{{prispevok.text}}
</div>
<p class="w3-text-grey">{{prispevok.time}}</p>
</div>
</div>
{%endif%}

</div>
<div class="isolate"></div>
{%endfor%}
</div>
